strict-ssl=false
//artefactos.proteccion.com.co:8082/artifactory/api/npm/:_authToken=${ARTIFACTORY_TOKEN}
@proteccionsa:registry=https://artefactos.proteccion.com.co:8082/artifactory/api/npm/Proteccion_npm
